.content {
    display: block;
    text-align: center;
    font-weight: bold;
}

.btn_plus {
    margin: 10px;
    background-color: chartreuse;
    border: none;
    font-size: 20px;
    border-radius: 8px;
}

.btn_minus {
    margin: 10px;
    background-color: red;
    border: none;
    font-size: 20px;
    border-radius: 8px;
}

.btn_zero {
    margin: 10px;
    background-color: #1ca1ff;
    border: none;
    font-size: 20px;
    border-radius: 8px;
}