.content {
    display: block;
    text-align: center;
    font-weight: bold;
}

.btn_plus {
    margin: 10px;
    background-color: chartreuse;
    border: none;
}

.btn_minus {
    margin: 10px;
    background-color: red;
    border: none;
}